html,
body {
    background: #f2f2f2; /*the background of the site*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

.body-background {
    background: #f2f2f2;
}

img {
    width:80%;
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.decrease {
    width:40%;
}

/*This makes the tooltip hover not change colors*/
a:link{
  color:inherit;
}
a:visited{
  color:inherit;
}
a:hover{
  color:inherit;
}
a:focus{
  color:inherit;
}
a:active{
  color:inherit;
}

.mixitup-control-active {
  background: #888;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


/*Star toggle button*/
.mixitupContainer div span:hover:after,
.mixitupContainer div span.fav:after {
  content: ' \2605';
  color: rgb(255, 203, 0);
}
.mixitupContainer div span.fav:hover:after {
  content: ' \2606';
}

.moveToRight {
    text-align: right;
    float: right;
}

/*title*/
.title {
    background: #222;
    font-family: 'helvetica-neue', sans-serif;
    text-align: center;
    color: white;
    padding-top: 0.5rem;
    font-size: 3rem;
    padding-left:1rem;
    padding-right:1rem;
    line-height: 3rem;
}

.titleDescription {
    background: #222;
    font-family: 'helvetica-neue', sans-serif;
    text-align: center;
    padding-top: 1rem;
    color: white;
    font-size: 1rem;
    padding-left:1rem;
    padding-right:1rem;
}


/* Controls
---------------------------------------------------------------------- */

.controls {
    text-align:center;
    padding: 1rem; /*this is the darker grey padding around nav bar*/
    background: #222; /* this is the grey color*/
    font-size: 0px; /*this controls the spacing between the buttons*/
}

.control {
    position: relative;
    display: inline-block;
    background: #444; /*this is the color when something is selected*/
    cursor: pointer;
    padding: 1rem; /*this is the padding for each button*/
    padding-right: 1.5rem;
    font-size: .9rem;
    font-weight: 800;
    color: white;
    outline: none !important;/*removes bootstraps' default blue outline on selection*/


    transition: background 150ms;
}

.control:hover {
    background: #3f3f3f;
}

.control[data-filter]:after,

/*the navbar colored boxes are here*/
.control[data-filter]:after {
    content: '';
    position: absolute;
    position: right;
    width: 10px;
    height: 10px;
    top: calc(50% - 5px);
    border: 2px solid currentColor;
    border-radius: 2px;
    background: transparent;
    transition: background-color 150ms, border-color 150ms;
}

.mixitup-control-active {/*the color when navbar is actively selected*/
    background: #393939;
}

.mixitup-control-active[data-filter]:after {
    background: currentColor; /*the color of button*/
}

.control:first-of-type {
    border-radius: 3px 0 0 3px;
}

.control:last-of-type {
    border-radius: 0 3px 3px 0;
}

.control[data-filter=".phase1"],/*green*/
.control[data-filter=".phase1"] {
    color: #91e6c7;
}

.control[data-filter=".phase2"],/*blue*/
.control[data-filter=".phase2"] {
    color: #5ecdde;
}

.control[data-filter=".phase3"],/*pink*/
.control[data-filter=".phase3"] {
    color: #d595aa;
}

.control[data-filter=".phase4"],/*yellow*/
.control[data-filter=".phase4"] {
    color:#EDCF8E;
}

.control[data-filter=".phase5"],/*green*/
.control[data-filter=".phase5"] {
    color:#C5D5EA;
}

.control[data-filter=".fav"],/*yellow*/
.control[data-filter=".fav"] {
    color:yellow;
}

/* modals
---------------------------------------------------------------------- */
.modal-body {
    margin: 1.5rem;
    }
}


/* Container
---------------------------------------------------------------------- */
.topPadding {
    padding-top:1rem;
}

.mixitupContainer {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
}

.mixitupContainer:after {
    content: '';
    display: inline-block;
    width: 100%;
}

/* Target Elements
---------------------------------------------------------------------- */
.mix,
.gap {
    display: inline-block;
    vertical-align: top;
}

/*this is the box container*/
.mix {
    background: #fff; /*this makes the box container white*/
    border-top: .5rem solid currentColor; /*this makes the first color bar*/
    border-radius: 5px;
    margin-bottom: 2rem; /*this spaces out the first box from the next*/
    position: relative;
    color: transparent;
}

/*This controls the second bar inside the box*/
.mix:before {
    content: '';
    display: inline-block;
    border-top: .5rem solid transparent;

}

.mix.phase1 {
    color: #C5D5EA;
}
.mix.phase2 {
    color: #C5D5EA;
}
.mix.phase3 {
    color: #C5D5EA;
}
.mix.phase4 {
    color: #C5D5EA;
}
.mix.phase5 {
    color: #C5D5EA;
}

span {
    width: 100%;
    font-weight:700;
    font-size:1rem;
    color:black;
    display: inline-block;
    font-size: 1rem;
    color: #333;
    line-height: 1.2;
    text-align: justify-right;
    padding-top:1rem;
    padding-bottom:1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.column {
    float: left;
    width: 50%;
    padding-left: 1rem;
}

.mix p {
    padding-left: 2rem;
    padding-right: 2rem;
    display: inline-block;
    font-size: 1rem;
    color: #333;
    line-height: 1.2;
    text-align: justify-right;
}

ul {
    padding-left: 3rem;
    padding-right: 2rem;
    display: inline-block;
    font-size: 1rem;
    color: #333;
    line-height: 1.2;
    text-align: justify-right;
}

/* Grid Breakpoints
---------------------------------------------------------------------- */




/* 1 Column: used to test UI for mobiles, but turns out it doesn't work with the starring system*/
/*@media screen and (max-width: 540px) {
    .mix,
    .gap {
    width: calc(50% - 0.5rem);change to 50% to make into two columns
    }
    .collpaseText {
        visibility: hidden;
            display: none;
    }
*/

/* 2 Columns */
.mix,
.gap {
    width: calc(50% - 0.5rem);/*change to 50% to make into two columns*/
    }
}

/* 3 Columns */

@media screen and (min-width: 541px) {
    .mix,
    .gap {
        width: calc(33% - ((2 * 1rem) / 3));
    }
}

/* 4 Columns */

@media screen and (min-width: 961px) {
    .mix,
    .gap {
        width: calc(25% - ((3rem) / 4));
    }
}

/* 5 Columns */

@media screen and (min-width: 1281px) {
    .mix,
    .gap {
        width: calc(20 - ((4 * 1rem) / 5));
    }
}


